.contact-information {
    padding: 10 px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #8f2a25;
}

.contact-information .column__title {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.contact-information [class*="icon-"] {
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

.contact-information .social-icon {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-information .social-icon [class*="icon-"] {
    background: black;
    color: white;
    margin-left: 0;
    margin-left: 15px;
}

.formulario {
    padding: 10px;
    padding-top: 0px;
}

.formulario__label, .formulario__input-txt, .formulario__textarea {
    display: block;
    width: 100%;
}

.formulario__input-txt {
    padding: 10px;
    margin-bottom: 10px;
}

.formulario__textarea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.formulario__btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
}

@media screen and (min-width:768px){
    .contact .container--flex {
        align-items: flex-start;
    }

    .contact-information p {
        font-size: .8em;
    }

    .contact-information {
        border-right: 1px solid #8f2a25;
        border-bottom: none;
    }
}

@media screen and (min-width:900px){
    .contact-information p {
        font-size: 1em;
    }

    .contact-information .column__title {
        font-size: 1.5em;
    }

}
