@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    font-weight: bold;/*se soloca para q identifique las partes q esta en negrita*/
    src: url(../fonts/Montserrat-Bold.ttf);
}
/*modelo de caja*/
*{
box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*  -------Estilos bases----------  */
img{
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{ /*enacabezados*/
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
}

.container--flex{
    display: flex;
    flex-wrap: wrap;/*si no alcanza va para abajo*/
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 100%;
}


/*  --------------- Estilos header ----------------  */
.main-header{
    width: 100%;
}

.logo{
    font-size: 1.8em;
    color: #ac332c;
    padding: 10px; /*rectangulo donde se encuentra contenido*/
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.main-header__contactInfo__phone{
    background: #8f2a25;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.main-header__contactInfo__address{
    padding: 10px;
    margin: 0;
}



/*before para darle a los inconos que se encuentran antes una posicion y margen*/
.main-header [class*="icon-"]:before{ /*todos los elementos que tengan la clase icon*/
    position: relative;
    top: 2px;
    right: 5px;
}

/*  ------------ Estilos menu -------------- */
.main-nav{
    width: 100%;
    position: relative;
    z-index: 5000; /*transparencia*/ 
    padding: 10px;
}

.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer; /*cambie el cursor a la mano*/
    font-size: 1.5em;
}

.social-icon{
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.social-icon__link{
    text-decoration: none;
}

/*-----------DONDE SE ENCUENTRA EL MENU------------*/
.menu{ 
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /*fondo del menu*/
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;/*permite aplicar la animacion aparesca y desaparesca el menu*/
    transition: height 1s linear;/*el tiempo de aparicion del menu*/
}

/* LETRAS MENU*/
.menu__link{ 
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.menu__link:hover{/*cuando pase el mouse en el menu se pone color rojo*/
    background: #8f2a25;
}

.menu__link--select{
    background: #8f2a25;
}

.mostrar{/*muestra el menu atravez del height*/
    height: 250px;
}

/* ---------------- Estilos de Banner ------------------*/
.banner{
    margin-top: -55px;
    position: relative;/*para la posicion del baner abscuro de fondo la imagen principal*/
}

.banner:before{ /*fonde obscuro detras del menu a la misma altura de la imagen princupal*/
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1000;/*para q no se interfiera con el menu*/
    top: 0;
}

.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover; /*no distorciona la imagen asi se ponga un alto o un ancho*/
}

.banner__content{ /*enunciado la frase de la imagen principal*/
    width: 90%;
    color: white;
    text-align: center;
    position:absolute;
    z-index: 1500;/*para que vaya frente a la imagen*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

/* ----------------- Estlios Principales ------------------- */
.group--color .container{
    text-align: center;
    background: #8f2a25;
    color: white;
    padding: 10px;
}

.main__title{
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.column__titlle{
    font-size: 1.3em;
}

/*segunda columna ntc-child busca la segunda columna dentro del general*/
.main__about__description .column:nth-child(2){
    padding: 10px;
}

/*boton de contactos*/
.btn{
    display: block;
    text-align: center;
    text-decoration: none;/*quitar el subrayado*/
    width: 120px;
    background: #8f2a25;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
 
.group__title{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}

.today-special .column{
    margin-bottom: 30px; /*espacio de separacion entre columnas*/
    text-align: center;
}

.today-special__img{
    margin: auto;
    max-width: 350px;
}

.today-special__title{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* ----------------------- Estilos del Footer ---------------  */
.main-footer{
    align-items: flex-start;
    background: #222;
    color: white;
    padding: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.9em;
}

.copy{
    text-align: center;
    padding-top: 50px;
}

/*separacion de iconos y nombre*/
.iconF [class*="icon-"]:before{
    position: relative;
    top: 2px;
    right: 10px;
}

.main-footer [class *= "icon-"]{
    color: white;
    text-decoration: none; /*elimino el subrayado*/
}

            /*480 768 1024 1600*/
/* --------------- Responsive --------------  */
@media screen and (min-width:768px){
    .logo{
        color: white;
    }
    
    .main-header__contactInfo{
        text-align: right;
    }

    .main-header__contactInfo__phone{
        background: none; /*para quitarle el fondo*/   
    }

    .main-header__contactInfo__address{
        color: white;
    }

    .main-nav{
        background: rgba(0,0,0,0.70);

    }

    .banner{
        margin-top: -150px;/*subo todo y lo envio atras*/
        z-index: -1000;
    }

    .banner__img{
        height: 600px;
    }

    .banner__content{
        font-size: 2em;
    }

    .main{
        padding-bottom: 15px /*separacion*/
    }

    .main__about__description .column:nth-child(2){ /*separo imagen texto*/
        padding-left: 20px;
        font-size: 0.9em;
    }

    .btn__about__description .btn{
        margin: 0;
    }

    .today-special .column{
        border: 5px solid #ddd;
        padding: 5px;
    }

    /*alinear imagenes*/
    .today-special__img{
        height: 200px;
        object-fit: cover; /*para q la imagen no se estire*/
    }

    .main-footer .container--flex{
        align-items: flex-start;    
    }
    
    .column--50{
        width: 49%;
    }

    .column--50-25{
        width: 49%;
    }

    .column--33{
        width: 32%;
    }

}


@media screen and (min-width:900px){
    .main__title{
        font-size: 2.2em;
    }

    .main__about__description{
        margin-top: 30px;
    }

    .main__about__description .column--50:nth-child(2){
        font-size: 1em;
    }

    /* espaciado a las letras (Experiencia)*/
    .main__about__description .column--50:nth-child(2)
    .column__txt{
        line-height: 30px;
    }

    .column--50-25{
        width: 24.5%;
    }

    .column__titlle{
        font-size: 1em;
    }

    .group__title{
        font-size: 2.2em;
    }
}


@media screen and (min-width:1100px){
    .container{
        width: 1000px;
    }

    .logo{
        font-size: 2em;
        padding: 0;
    }

    .main-header__contactInfo__phone,
    .main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
    }

    .main-nav{
        padding: 0;
    }

    .banner__content{
        font-size: 2.5em;
    }

    .icon-menu{
        display: none;/*para eliminar el icono de menu*/
    }

    .menu{
        position: static;/*para q el menu regreese a su posicion original*/
        display: flex;/*una opcion a lado de la otra opcion*/
        height: auto;
        width: auto;
    }

    .menu__link{
        padding: 20px;/*mas ancho la division del menu*/
    }

    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .main__title {
        font-size: 2.5em;
    }

    .main__about__description .column--50:nth-child(2)
    .column__txt{
        line-height: 40px;
    }

    .today-special__title{
        font-size: 1.5em;
    }

    .today-special__price{
        font-size: 1.8em;
    }

    .main-footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    
}


@media screen and (min-width:1300px){

    .container{
        width: 1400px;
    }

    .banner__img{
        height: 700px;
    }

    /*.img y creo la clase a la imagen para llamarle o solo img para q reconozsca la unica imagen que esta ahi*/
    .main__about__description .column:nth-child(1) img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .today-special__img{
        height: 300px; 
    }
}