@charset "UTF-8";

@font-face {
  font-family: "pagina";
  src:url("../fonts/pagina.eot");
  src:url("../fonts/pagina.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pagina.woff") format("woff"),
    url("../fonts/pagina.ttf") format("truetype"),
    url("../fonts/pagina.svg#pagina") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pagina" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pagina" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-menu:before {
  content: "\64";
}
.icon-map:before {
  content: "\65";
}
.icon-mail:before {
  content: "\66";
}
.icon-youtube:before {
  content: "\67";
}
.icon-instagram:before {
  content: "\68";
}
