.gallery img{
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer; /*icono de la mano*/
    transition: all 01s;
}

.gallery__img:hover{
    transform: scale(1.03); /*animacion para q se agrande un poco la imagen al momento de pasar el cursor*/
}

.gallery__img--big{
    height: 400px;
}

.gallery__img--small{
    height: 200px;
}

.modal{
    width: 100%;
    min-height: 100vh;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
}

.modal__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__img{
    width: 50%;
}

.modal__boton{
     position: absolute;
     top: 10px;
     right: 10px;
     color: white;
     cursor: pointer;
     font-weight: bold;
     width: 50px;
     height: 50px;
     line-height: 50px;
     background: #8f2a25;
     font-size: 2.5em;
     text-align: center;
     border-radius: 50%;
     font-family: monospace;
}

.modal--open{
    display: block;
}