.our-team{
    text-align: center;
    margin-bottom: 20px;/*para separar la parte de abajo*/
}

.our-team .container--flex{
    align-items: flex-start;

}

.our-team__title{
    font-family: 'Pacifico', cursive;
    color: #8f2a25;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.our-team__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.our-team__txt{
    padding: 10px;
}

@media screen and (min-width:768px){
    
    .our-team__img{
        width: 150px;
        height: 150px;
    }

}

@media screen and (min-width:900px){

    .our-team__img{
        width: 220px;
        height: 220px;
    }

}

@media screen and (min-width:1110px){

    .our-team__img{
        width: 300px;
        height: 300px;
    }

    .our-team__title{
        font-size: 2.5em;
    }

}

@media screen and (min-width:1300px){

    .our-team__img{
        width: 430px;
        height: 430px;
    }

}

